################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net9.0-windows
/.vs/Astronomical Processing
/.vs
/bin/Debug/net9.0-windows
/obj/Astronomical Processing.csproj.nuget.dgspec.json
/obj/Astronomical Processing.csproj.nuget.g.props
/obj/project.nuget.cache
/obj/project.assets.json
